html {
  scroll-behavior: smooth;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px;
  text-align: center;
}

td:first-child {
  width: 100px;
}

td:last-child {
  width: 130px;
}

button {
  width: 80px;
}

#board-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  /* opacity: 0;  https://www.sitepoint.com/five-ways-to-hide-elements-in-css */
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein { 
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}